@use "sass/sections/header";

* {
  margin: 0;
  font-family: "SKF Chevin OT";
}

$color-primary: #0f58d6;

$color-background-light: #fff;
$color-background-medium: #ebf0f0;
$color-background-dark: #ecece0;

$font-color-dark: #485a64;
$font-color-light: #fff;

@mixin respond($breakpoint) {
  @if $breakpoint == "desktop" {
    @media (min-width: 1000px) {
      @content;
    }
  }
  @if $breakpoint == "tablet" {
    @media (min-width: 600px) {
      @content;
    }
  }
}

/*h2 {
  @include respond(desktop) {
    font-size: 50px;
    margin: 100px 0 50px 0;
  }
  @include respond(tablet) {
    font-size: 40px;
    margin: 100px 0 50px 0;
  }
  text-align: center;
  font-size: 24px;
  color: $font-color-dark;
  clear: both;
}*/

h3 {
  @include respond(tablet) {
    font-size: 24px;
  }
  text-align: center;
  //font-size: 24px;
  color: $font-color-light;
}
a {
  text-decoration: none;
  color: $font-color-dark;
}

ul {
  list-style-type: none;
}

button {
  &:active {
    transform: translateY(1px);
    box-shadow: 2px -2px $font-color-dark;
  }
}
.MVP-header {
  @include respond(tablet) {
    width: 768px;
    height: 64px;
    padding: 20px 40px;
  }
  width: 320px;
  height: 56px;
  padding: 16px 20px;

  &-left {
    @include respond(tablet) {
      width: 70px;
      height: 20px;
    }
    width: 70px;
    //height: 20px;
    padding: 0;
    display: inline-table;
    vertical-align: middle;

    .glyphicon-menu-hamburger {
      position: static;
      width: 25px;
      height: 20px;
      padding: 2px 0;
      font-size: 20px;
      color: $color-primary;
      float: left;
      vertical-align: middle;
    }

    &-name {
      width: 37px;
      height: 12px;
      color: $color-primary;
      margin: 4px 3px;
      padding: 0;
      float: left;
      font-weight: 600;
      vertical-align: middle;
    }
  }

  &-right {
    @include respond(tablet) {
      width: 169px;
    }
    width: 68px;
    height: 24px;
    float: right;

    .cart {
      @include respond(tablet) {
        width: 62px;
        height: 24px;
      }
      float: left;
      //vertical-align: middle;

      &-icon {
        width: 24px;
        height: 24px;
        background-color: $color-primary;
        color: $font-color-light;
        border-radius: 50%;
        text-align: center;
        float: left;
        padding: 5px 0;
      }
      &-name {
        @include respond(tablet) {
          width: 29px;
          height: 20px;
          padding: 2px 0px;
          font-weight: 500;
          font-size: 16px;
          line-height: 16px;
          display: inline;
          vertical-align: middle;
          float: right;
          padding: 5px 0;
        }
        display: none;
      }
    }

    .login {
      @include respond(tablet) {
        width: 87px;
        height: 24px;
      }
      float: right;

      &-icon {
        width: 24px;
        height: 24px;
        background-color: $color-primary;
        color: $font-color-light;
        border-radius: 50%;
        display: table-cell;
        text-align: center;
        vertical-align: middle;
        float: left;
        padding: 5px 0;
      }
      &-name {
        @include respond(tablet) {
          width: 54px;
          height: 20px;
          padding: 5px 0px;
          display: inline-block;
          font-weight: 500;
          font-size: 16px;
          line-height: 16px;
          float: right;
        }
        display: none;
      }
    }
  }
}
.search {
  @include respond(tablet) {
    width: 768px;
    height: 428px;
    padding: 80px 40px;
  }

  background: linear-gradient(
      90deg,
      rgba(15, 88, 214, 0.5) 33.46%,
      rgba(15, 88, 214, 0.44) 66.17%,
      rgba(15, 88, 214, 0.185) 99.99%,
      rgba(255, 255, 255, 0) 100%
    ),
    linear-gradient(0deg, rgba(15, 88, 214, 0.7), rgba(15, 88, 214, 0.7)),
    url(images/Storage.png);
  background-size: cover;
  height: 214px;
  width: 320px;
  margin: 0;
  padding: 30px 20px;

  h1 {
    @include respond(tablet) {
      width: 688px;
      height: 140px;
      font-size: 56px;
      line-height: 70px;
    }

    font-family: "SKF Chevin OT", Calibri, sans-serif;
    font-size: 24px;
    text-align: center;
    color: $font-color-light;
    width: 280px;
    height: 64px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px;
    margin: 0;
  }

  &-bar {
    @include respond(tablet) {
      width: 688px;
      height: 68px;
      border: 1px solid #d2d6d6;
      margin-top: 60px;
    }
    width: 280px;
    height: 60px;
    padding: 10px 10px 10px 20px;
    background-color: $color-background-light;
    margin-top: 30px;

    &-input {
      @include respond(tablet) {
        width: 231px;
      }
      width: 58px;
      height: 20px;
      font-family: "SKF Chevin OT";
      font-weight: 500;
      font-size: 20px;
      line-height: 20px;
      margin: 10px 0;
      border: none;
      display: inline-block;
      color: #7f9aa5;

      &-hidden {
        @include respond(tablet) {
          display: inline;
        }
        display: none;
      }
    }

    &-btn {
      @include respond(tablet) {
        width: 48px;
        height: 48px;
        padding: 14px;
        font-size: 20px;
      }
      width: 40px;
      height: 40px;
      float: right;
      background-color: #46962b;
      color: $font-color-light;
      border: none;
    }
  }
}

.main-menu {
  @include respond(tablet) {
    position: relative;
    width: 347px;
    left: -347px;
    top: -492px;
  }
  width: 320;
  height: 0;
  overflow: hidden;
  position: relative;
  left: -320px;
  top: -270px;
  transition: transform 0.5s;

  &-list {
    @include respond(tablet) {
      width: 307px;
      // height: 1186px;
    }

    color: $font-color-dark;
    list-style-type: none;
    width: 280px;
    //height: 588px;
    background-color: $color-background-light;
    float: left;
    padding: 0;

    &-logo {
      @include respond(tablet) {
        width: 307px;
        height: 87px;
        padding: 30px;
        // height: 1186px;
      }
      /*@include respond(desktop) {
        font-size: 20px;
        color: $color-primary;
        display: inline-block;
        margin: 7px 0;
      }*/
      width: 280px;
      height: 87px;
      font-size: 20px;
      color: $font-color-light;
      padding: 30px 0 30px 30px;
      background-color: $color-primary;
      // margin: 30px 0 0 0;

      .logo-image {
        width: 115px;
        height: 27px;
      }
      .logo-text {
        display: inline-block;
        width: 114px;
        height: 20px;
        color: $font-color-light;
      }
    }

    &-primary {
      /*@include respond(desktop) {
        display: inline-block;
        color: $font-color-dark;
        transform: translateY(5px);
        padding: 10px;
        margin: 5px 0;
        //margin: 10px 0;
      }*/

      &-box {
        @include respond(tablet) {
          width: 307px;
        }
        padding: 11px 30px 15px 30px;
        box-shadow: inset 0px -1px 0px #d2d6d6;
        width: 280px;

        &-text {
          height: 24px;
          background-color: $color-background-light;
          font-weight: 500;
          font-size: 18px;
          line-height: 24px;
          float: left;
        }
      }
    }

    &-secondary {
      /*@include respond(desktop) {
        display: none;
      }*/

      &-box {
        @include respond(tablet) {
          width: 307px;
        }
        padding: 11px 30px 15px 40px;
        background-color: $color-background-medium;
        width: 280px;
        transform: translateX(-40px);
        box-shadow: inset 0px -1px 0px #d2d6d6;

        &-text {
          height: 24px;
          font-weight: 500;
          font-size: 18px;
          line-height: 24px;
          float: left;
        }
      }
    }

    &-tertiary {
      /*@include respond(desktop) {
        display: none;
      }*/
      &-box {
        @include respond(tablet) {
          width: 307px;
        }
        padding: 11px 30px 15px 50px;
        background-color: #dce5e5;
        width: 280px;
        transform: translateX(-80px);
        box-shadow: inset 0px -1px 0px #d2d6d6;

        &-text {
          height: 24px;
          font-weight: 500;
          font-size: 18px;
          line-height: 24px;
          float: left;
        }
      }
    }
  }
  &--active {
    z-index: 2000;
    transform: translateX(347px);
    overflow: visible;
  }

  .glyphicon-menu-down {
    /* @include respond(desktop) {
      display: none;
    }*/
    width: 12px;
    height: 8px;
    float: right;
    margin-top: 3px;
  }

  &-remove {
    width: 40px;
    height: 40px;
    float: right;
    margin-top: 24px;

    .glyphicon-remove {
      /* @include respond(desktop) {
        display: none;
      }*/
      padding: 12px;
      font-size: 16px;
      color: $font-color-light;
      background-color: $color-primary;
      width: 40px;
      height: 40px;
    }
  }
}

.overlay {
  display: none;

  &--active {
    display: block;
    position: absolute;
    top: -50px;
    right: -50px;
    width: 1000px;
    height: 10000px;
    background-color: rgba($color-background-medium, 0.8);
    filter: blur(10px);
    z-index: 1999;
  }
}

.crawler {
  @include respond(tablet) {
    width: 768px;
    height: 686px;
    padding: 60px 40px;
  }
  height: 552px;
  width: 320px;
  padding: 30px 20px;

  h2 {
    @include respond(tablet) {
      width: 688px;
      height: 30px;
      font-weight: 500;
      font-size: 40px;
      line-height: 40px;
      margin-bottom: 50px;
    }
    width: 280px;
    height: 60px;
    font-weight: 500;
    font-size: 24px;
    line-height: 30px;
    color: $font-color-dark;
    text-align: center;
  }

  &-crawl {
    @include respond(tablet) {
      width: 688px;
      height: 486px;
    }
    width: 280px;
    height: 402px;
    overflow: hidden;

    &-products {
      @include respond(tablet) {
        width: 216px;
        height: 486px;
        //margin-left: 20px;
      }
      /* @include respond(desktop) {
        @include one-of-four;
      }*/
      //display: none;
      width: 280px;
      height: 402px;
      float: left;
      background: $color-background-light;
      border: 1px solid #d2d6d6;
      box-sizing: border-box;
      padding: 10px;
      /*border: 1px solid $color-background-dark;
      overflow: hidden;*/

      &-img {
        @include respond(tablet) {
          width: 196px;
          height: 196px;
          padding: 98px 10px;
          background-size: 196px;
          background-repeat: no-repeat;
        }

        width: 260px;
        height: 130px;
        padding: 65px 10px;
        background-size: 260px 130px;
        /*display: flex;
        align-items: center;*/
      }

      &-info {
        @include respond(tablet) {
          width: 196px;
          height: 270px;
          padding: 20px;
        }
        background-color: $color-background-medium;
        width: 260px;
        height: 252px;
        padding: 20px;

        &-title {
          @include respond(tablet) {
            width: 156px;
            height: 28px;
            font-weight: 600;
            font-size: 28px;
            line-height: 28px;
          }
          width: 220px;
          height: 28px;
          font-weight: 600;
          font-size: 28px;
          line-height: 28px;
          color: $color-primary;
          text-align: center;
          margin-bottom: 15px;
        }

        &-description {
          @include respond(tablet) {
            width: 156px;
            height: 36px;
            font-weight: 500;
            font-size: 16px;
            line-height: 18px;
          }
          width: 220px;
          height: 18px;
          font-size: 16px;
          line-height: 18px;
          font-size: 18px;
          text-align: center;
          margin-bottom: 15px;
          color: $font-color-dark;
        }

        &-price {
          width: 111px;
          height: 24px;
          align-items: center;
          margin-bottom: 15px;
          margin: 15px auto;
          color: $font-color-dark;
          font-weight: 600;
          font-size: 14px;
          line-height: 14px;

          &-amount {
            align-items: center;
            color: $color-primary;
            font-weight: 600;
            font-size: 24px;
            line-height: 24px;
          }
        }

        .item-number-container {
          @include respond(tablet) {
            width: 156px;
            height: 36px;
          }
          width: 162px;
          height: 36px;
          align-items: center;
          margin: 15px auto;

          .remove-item,
          .add-item {
            width: 36px;
            height: 36px;
            padding: 13px;
            font-size: 10px;
            background: #7f9aa5;
            border-radius: 100px;
            color: $font-color-light;
            &:active {
              background-color: #818d92;
            }
          }

          .number-of-items {
            text-align: center;
            width: 70px;
            height: 36px;
            color: $font-color-dark;
            border: 1px solid #7f9aa5;
            font-weight: 600;
            font-size: 16px;
            line-height: 16px;
          }
        }

        .add-to-cart {
          @include respond(tablet) {
            width: 156px;
          }
          background-color: $color-primary;
          color: $font-color-light;
          width: 220px;
          height: 46px;
          padding: 11px 20px;
          border: none;

          &-add {
            width: 78px;
            height: 24px;
            font-weight: 600;
            font-size: 16px;
            line-height: 24px;
          }

          .glyphicon-shopping-cart {
            width: 22px;
            height: 18px;
          }
        }
      }
    }
  }

  .bear-left,
  .bear-right {
    @include respond(tablet) {
      width: 42px;
      height: 42px;
      padding: 17px 15px;
    }
    width: 32px;
    height: 32px;
    font-size: 12px;
    padding: 12px 10px;
  }

  .bear-left {
    @include respond(tablet) {
      top: 854px;
      margin-left: 19px;
    }
    position: absolute;
    left: 0;
    top: 575px;
    background: #0f58d6;
    border-radius: 100px;
    margin-left: 4px;
  }

  .bear-right {
    @include respond(tablet) {
      top: 854px;
      margin-right: 19px;
    }
    position: absolute;
    right: 0;
    top: 575px;
    margin-right: 4px;
  }
}

.categories {
  @include respond(tablet) {
    width: 768px;
    height: 1026px;
    padding: 60px 40px;
  }
  clear: both;
  background-color: $color-background-medium;
  width: 320px;
  height: 1630px;
  padding: 30px 20px;

  h2 {
    @include respond(tablet) {
      width: 688px;
      height: 30px;
      font-weight: 500;
      font-size: 40px;
      line-height: 40px;
      margin-bottom: 50px;
    }
    width: 280px;
    height: 60px;
    font-weight: 500;
    font-size: 24px;
    line-height: 30px;
    color: $font-color-dark;
    text-align: center;
  }

  &-all {
    @include respond(tablet) {
      width: 688px;
      height: 826px;
    }
    width: 280px;
    height: 1516px;

    &-top {
      @include respond(tablet) {
        width: 688px;
        height: 398px;
      }
      &-categorie-bearings {
        @include respond(tablet) {
          width: 329px;
          height: 398px;
          float: left;
        }
        width: 280px;
        height: 364px;
        background-color: $color-primary;

        &-img {
          @include respond(tablet) {
            width: 329px;
            height: 238px;
            padding: 119px 10px;
            background-size: 329px 238px;
          }
          background-image: url("images/Bearings.png");
          background-size: 280px 180px;
          width: 280px;
          height: 180px;
          padding: 90px 10px;
        }
        &-desc {
          @include respond(tablet) {
            width: 329px;
            height: 160px;
          }
          width: 280px;
          height: 184px;
          padding: 30px 20px;
          background-color: $color-primary;

          h3 {
            @include respond(tablet) {
              width: 289px;
            }
            width: 240px;
            height: 18px;
            font-weight: 600;
            font-size: 24px;
            line-height: 24px;
            color: $font-color-light;
            text-align: left;
            margin: 0 0 10px 0;
          }
          p {
            @include respond(tablet) {
              width: 289px;
              height: 72px;
            }
            width: 240px;
            height: 96px;
            font-weight: 300;
            font-size: 16px;
            line-height: 24px;
            color: $font-color-light;
          }
        }
      }
      &-categorie-maintenance {
        @include respond(tablet) {
          width: 329px;
          height: 398px;
          float: right;
          margin-top: 0;
        }
        width: 280px;
        height: 364px;
        background-color: $color-primary;
        margin-top: 20px;
        &-img {
          @include respond(tablet) {
            width: 329px;
            height: 238px;
            padding: 119px 10px;
            background-size: 329px 238px;
          }
          background-image: url("images/Maintenance.png");
          background-size: 280px 180px;
          width: 280px;
          height: 180px;
          padding: 90px 10px;
        }

        &-desc {
          @include respond(tablet) {
            width: 329px;
            height: 160px;
          }
          width: 280px;
          height: 184px;
          padding: 30px 20px;
          background-color: $color-primary;

          h3 {
            @include respond(tablet) {
              width: 289px;
            }
            width: 240px;
            height: 18px;
            font-weight: 600;
            font-size: 24px;
            line-height: 24px;
            color: $font-color-light;
            text-align: left;
            margin: 0 0 10px 0;
          }
          p {
            @include respond(tablet) {
              width: 289px;
              height: 72px;
            }
            width: 240px;
            height: 96px;
            font-weight: 300;
            font-size: 16px;
            line-height: 24px;
            color: $font-color-light;
          }
        }
      }
    }

    &-bottom {
      @include respond(tablet) {
        width: 688px;
        height: 398px;
      }
      &-categorie-transmission {
        @include respond(tablet) {
          width: 329px;
          height: 398px;
          float: left;
          margin-top: 30px;
        }
        margin-top: 20px;
        width: 280px;
        height: 364px;
        background-color: $color-primary;

        &-img {
          @include respond(tablet) {
            width: 329px;
            height: 238px;
            padding: 119px 10px;
            background-size: 329px 238px;
          }
          background-image: url("images/Transmission.png");
          background-size: 280px 180px;
          width: 280px;
          height: 180px;
          padding: 90px 10px;
        }

        &-desc {
          @include respond(tablet) {
            width: 329px;
            height: 160px;
          }
          width: 280px;
          height: 184px;
          padding: 30px 20px;
          background-color: $color-primary;

          h3 {
            @include respond(tablet) {
              width: 289px;
            }
            width: 240px;
            height: 18px;
            font-weight: 600;
            font-size: 24px;
            line-height: 24px;
            color: $font-color-light;
            text-align: left;
            margin: 0 0 10px 0;
          }
          p {
            @include respond(tablet) {
              width: 289px;
              height: 72px;
            }
            width: 240px;
            height: 96px;
            font-weight: 300;
            font-size: 16px;
            line-height: 24px;
            color: $font-color-light;
          }
        }
      }
      &-categorie-seals {
        @include respond(tablet) {
          width: 329px;
          height: 398px;
          float: right;
          margin-top: 30px;
        }
        width: 280px;
        height: 364px;
        background-color: $color-primary;
        margin-top: 20px;

        &-img {
          @include respond(tablet) {
            width: 329px;
            height: 238px;
            padding: 119px 10px;
            background-size: 329px 238px;
          }
          background-image: url("images/Seals.png");
          background-size: 280px 180px;
          width: 280px;
          height: 180px;
          padding: 90px 10px;
        }

        &-desc {
          @include respond(tablet) {
            width: 329px;
            height: 160px;
          }
          width: 280px;
          height: 184px;
          padding: 30px 20px;
          background-color: $color-primary;

          h3 {
            @include respond(tablet) {
              width: 289px;
            }
            width: 240px;
            height: 18px;
            font-weight: 600;
            font-size: 24px;
            line-height: 24px;
            color: $font-color-light;
            text-align: left;
            margin: 0 0 10px 0;
          }
          p {
            @include respond(tablet) {
              width: 289px;
              height: 72px;
            }
            width: 240px;
            height: 96px;
            font-weight: 300;
            font-size: 16px;
            line-height: 24px;
            color: $font-color-light;
          }
        }
      }
    }
  }

  /*@include respond(tablet) {
      @include one-of-two;
    }
    @include respond(desktop) {
      @include one-of-four;
    }

    &-description {
      height: 260px;
    }

    p {
      padding: 30px 10px;
    }
  }*/
}

.quality-assurance {
  @include respond(tablet) {
    width: 768px;
    height: 594px;
    padding: 60px 40px;
  }
  background-color: $color-background-dark;
  padding: 30px 20px;
  width: 320px;
  height: 635px;

  &-content {
    @include respond(tablet) {
      width: 688px;
      height: 814px;
    }
    width: 280px;
    height: 753px;

    h2 {
      @include respond(tablet) {
        width: 688px;
        height: 30px;
        font-weight: 500;
        font-size: 40px;
        line-height: 40px;
        margin-bottom: 30px;
      }
      text-align: left;
      color: $font-color-dark;
      width: 280px;
      height: 40px;
      font-weight: 500;
      font-size: 24px;
      line-height: 40px;
      margin-bottom: 15px;
    }

    p {
      @include respond(tablet) {
        width: 688px;
        height: 192px;
        font-weight: 300;
        font-size: 16px;
        line-height: 24px;
      }
      /*@include respond(desktop) {
        width: 30%;
        float: left;
      }*/
      text-align: left;
      color: #264357;
      width: 280px;
      height: 361px;
      font-size: 14px;
      line-height: 20px;
      margin-bottom: 0;
    }
  }
}

.overlaping-bearings {
  @include respond(tablet) {
    width: 562px;
    height: 480px;
    padding: 281px 10px;
    background-size: 562px 480px;
    transform: translateX(126px) translateY(-180px);
    margin: 0 40px;
  }
  width: 280px;
  height: 240px;
  background-image: url("images/Overlaper.png");
  background-size: 280px 240px;
  background-repeat: no-repeat;
  mix-blend-mode: darken;
  transform: translateY(-92px);
  margin: 0 20px;
  padding: 140px 0;
}

.maint {
  @include respond(tablet) {
    transform: translateY(-180px);
  }

  transform: translateY(-92px);
  h2 {
    @include respond(tablet) {
      width: 688px;
      height: 30px;
      font-weight: 500;
      font-size: 40px;
      line-height: 40px;
      margin-bottom: 50px;
    }
    width: 280px;
    height: 60px;
    font-weight: 500;
    font-size: 24px;
    line-height: 30px;
    color: $font-color-dark;
    text-align: center;
  }
  .maint-left,
  .maint-right {
    @include respond(tablet) {
      width: 42px;
      height: 42px;
      padding: 17px 15px;
    }
    width: 32px;
    height: 32px;
    font-size: 12px;
    padding: 12px 10px;
  }

  .maint-left {
    @include respond(tablet) {
      top: 362px;
    }
    position: absolute;
    left: 0;
    top: 305px;
    background: #0f58d6;
    border-radius: 100px;
    margin-left: 4px;
  }

  .maint-right {
    @include respond(tablet) {
      top: 362px;
    }
    position: absolute;
    right: 0;
    top: 305px;
    background: #0f58d6;
    border-radius: 100px;
    margin-right: 4px;
  }
}

.about {
  @include respond(tablet) {
    width: 768px;
    height: 978px;
    padding: 60px 40px;
    transform: translateY(-180px);
  }
  /*@include respond(desktop) {
    transform: translateY(-250px);
  }*/
  width: 320px;
  height: 707px;
  background-color: $color-background-medium;
  padding: 30px 20px;
  text-align: left;
  transform: translateY(-92px);

  &-text {
    @include respond(tablet) {
      width: 688px;
      height: 334px;
    }
    /* @include respond(desktop) {
      width: 30%;
      float: right;
    }*/

    width: 280px;
    height: 826px;

    h2 {
      @include respond(tablet) {
        width: 688px;
        height: 30px;
        font-size: 40px;
        margin-bottom: 30px;
      }
      text-align: left;
      width: 280px;
      height: 40px;
      color: $font-color-dark;
      margin-bottom: 15px;
      font-size: 24px;
    }

    p {
      @include respond(tablet) {
        width: 688px;
        height: 192px;
        font-size: 16px;
        line-height: 24px;
      }
      text-align: left;
      width: 280px;
      height: 355px;
      font-size: 14px;
      line-height: 20px;
      margin-bottom: 0;
    }
  }
}

.about-img {
  @include respond(tablet) {
    width: 688px;
    height: 680px;
    margin: 40px 40px 10px 40px;
    transform: translateY(-744px);
    // transform: translateY(-180px);
    background-size: 688px 680px;
    padding: 344px 10px;
  }
  /*@include respond(desktop) {
    width: 580px;
    height: 500px;
    margin-left: 50px;
    transform: translateY(250px);
  }*/
  background-image: url("images/about.png");
  background-repeat: no-repeat;
  width: 280px;
  height: 320px;
  margin: 0 20px;
  transform: translateY(-242px);
  padding: 140px 160px;
  background-size: 280px 320px;
  //max-width: 680px;
}

.distributor-locations {
  @include respond(tablet) {
    transform: translateY(-744px);
    width: 768px;
    height: 810px;
    padding: 60px 40px;
  }
  width: 320px;
  height: 435px;
  transform: translateY(-242px);
  padding: 30px 20px;

  h2 {
    @include respond(tablet) {
      width: 688px;
      height: 30px;
      font-size: 40px;
      margin-bottom: 30px;
    }
    height: 40px;
    font-weight: 500;
    font-size: 24px;
    line-height: 40px;
    margin-bottom: 15px;
    margin-top: 0;
    text-align: center;
    color: $font-color-dark;
  }

  .map {
    @include respond(tablet) {
      width: 688px;
      height: 630px;
    }
    padding: 10px;
    width: 280px;
    height: 320px;
    border: 1px solid #d2d6d6;
    //box-sizing: border-box;

    &-img {
      @include respond(tablet) {
        width: 668px;
        height: 610px;
      }
      width: 260px;
      height: 300px;
      margin: 0;
      border: 0;

      &-pins {
        @include respond(tablet) {
          position: absolute;
          top: 148px;
          bottom: 147.53px;
          width: 611.41px;
          height: 314.47px;
          width: 611px;
          overflow: visible;
        }

        position: absolute;
        top: 78px;
        bottom: 83px;
        width: 260px;
        overflow: hidden;

        &-1 {
          @include respond(tablet) {
            width: 32.44px;
            height: 51px;
            left: 206.44px;
            top: 241.97px;
          }
          position: absolute;
          left: 73.57px;
          width: 14.47px;
          height: 21.51px;
          top: 119.91px;
        }
        &-2 {
          @include respond(tablet) {
            width: 32.44px;
            height: 51px;
            left: 467.68px;
            top: 266.03px;
          }
          position: absolute;
          left: 190.06px;
          width: 14.47px;
          height: 21.51px;
          top: 130.63px;
        }
        &-3 {
          @include respond(tablet) {
            width: 32.44px;
            height: 51px;
            left: 566.13px;
            top: 374.55px;
          }
          position: absolute;
          width: 14.47px;
          height: 21.51px;
          left: 233.96px;
          top: 179.02px;
        }
        &-4 {
          @include respond(tablet) {
            width: 32.44px;
            height: 51px;
            left: 584.59px;
            top: 302.95px;
          }
          position: absolute;
          width: 14.47px;
          height: 21.51px;
          left: 242.2px;
          top: 147.1px;
        }
        &-5 {
          @include respond(tablet) {
            width: 32.44px;
            height: 51px;
            left: 445.3px;
            top: 411.47px;
          }
          position: absolute;
          width: 14.47px;
          height: 21.51px;
          left: 180.08px;
          top: 195.49px;
        }
        &-6 {
          @include respond(tablet) {
            width: 32.44px;
            height: 51px;
            left: 292.59px;
            top: 411.47px;
          }
          position: absolute;
          width: 14.47px;
          height: 21.51px;
          left: 111.99px;
          top: 195.49px;
        }
        &-7 {
          @include respond(tablet) {
            width: 32.44px;
            height: 51px;
            left: 50.38px;
            top: 374.55px;
          }
          position: absolute;
          width: 14.47px;
          height: 21.51px;
          left: 3.98px;
          top: 179.02px;
        }
        &-8 {
          @include respond(tablet) {
            width: 32.44px;
            height: 51px;
            left: 353px;
            top: 148px;
          }
          position: absolute;
          width: 14.47px;
          height: 21.51px;
          left: 138.93px;
          top: 78px;
        }
        &-9 {
          @include respond(tablet) {
            width: 32.44px;
            height: 51px;
            left: 520.82px;
            top: 183.24px;
          }
          position: absolute;
          width: 14.47px;
          height: 21.51px;
          left: 213.76px;
          top: 93.71px;
        }
        &-10 {
          @include respond(tablet) {
            width: 32.44px;
            height: 51px;
            left: 606.97px;
            top: 165.34px;
          }
          position: absolute;
          width: 14.47px;
          height: 21.51px;
          left: 252.17px;
          top: 85.73px;
        }
        &-11 {
          @include respond(tablet) {
            width: 32.44px;
            height: 51px;
            left: 543.75px;
            top: 248.13px;
          }
          position: absolute;
          width: 14.47px;
          height: 21.51px;
          left: 223.99px;
          top: 122.65px;
        }
        &-12 {
          @include respond(tablet) {
            width: 32.44px;
            height: 51px;
            left: 451.46px;
            top: 353.85px;
          }
          position: absolute;
          width: 14.47px;
          height: 21.51px;
          left: 182.83px;
          top: 169.8px;
        }
        &-13 {
          @include respond(tablet) {
            width: 32.44px;
            height: 51px;
            left: 276.37px;
            top: 302.95px;
          }
          position: absolute;
          width: 14.47px;
          height: 21.51px;
          left: 104.75px;
          top: 147.1px;
        }
        &-14 {
          @include respond(tablet) {
            width: 32.44px;
            height: 51px;
            left: 435.23px;
            top: 197.78px;
          }
          position: absolute;
          width: 14.47px;
          height: 21.51px;
          left: 175.6px;
          top: 100.2px;
        }
        &-15 {
          @include respond(tablet) {
            width: 32.44px;
            height: 51px;
            left: 379.29px;
            top: 280.57px;
          }
          position: absolute;
          width: 14.47px;
          height: 21.51px;
          left: 150.65px;
          top: 137.12px;
        }
        &-16 {
          @include respond(tablet) {
            width: 32.44px;
            height: 51px;
            left: 336.78px;
            top: 353.85px;
          }
          position: absolute;
          width: 14.47px;
          height: 21.51px;
          left: 131.69px;
          top: 169.8px;
        }
        &-17 {
          @include respond(tablet) {
            width: 32.44px;
            height: 51px;
            left: 190.22px;
            top: 377.9px;
          }
          position: absolute;
          width: 14.47px;
          height: 21.51px;
          left: 66.34px;
          top: 180.52px;
        }
        &-18 {
          @include respond(tablet) {
            width: 32.44px;
            height: 51px;
            left: 108.55px;
            top: 307.42px;
          }
          position: absolute;
          width: 14.47px;
          height: 21.51px;
          left: 29.92px;
          top: 149.09px;
        }
        &-19 {
          @include respond(tablet) {
            width: 32.44px;
            height: 51px;
            left: 204.21px;
            top: 186.59px;
          }
          position: absolute;
          width: 14.47px;
          height: 21.51px;
          left: 72.57px;
          top: 95.21px;
        }
        &-20 {
          @include respond(tablet) {
            width: 32.44px;
            height: 51px;
            left: 133.16px;
            top: 224.07px;
          }
          position: absolute;
          width: 14.47px;
          height: 21.51px;
          left: 40.89px;
          top: 111.92px;
        }
        &-21 {
          @include respond(tablet) {
            width: 32.44px;
            height: 51px;
            left: 194.14px;
            top: 302.95px;
          }
          position: absolute;
          width: 14.47px;
          height: 21.51px;
          left: 68.08px;
          top: 147.1px;
        }
        &-22 {
          @include respond(tablet) {
            width: 32.44px;
            height: 51px;
            left: 286.44px;
            top: 219.6px;
          }
          position: absolute;
          width: 14.47px;
          height: 21.51px;
          left: 109.24px;
          top: 109.93px;
        }
        &-23 {
          @include respond(tablet) {
            width: 32.44px;
            height: 51px;
            left: 52.61px;
            top: 280.57px;
          }
          position: absolute;
          width: 14.47px;
          height: 21.51px;
          left: 4.97px;
          top: 137.12px;
        }
        &-24 {
          @include respond(tablet) {
            width: 32.44px;
            height: 51px;
            left: 28px;
            top: 175.41px;
          }
          position: absolute;
          width: 14.47px;
          height: 21.51px;
          left: -6px;
          top: 90.22px;
        }
      }
    }
  }
}

footer {
  @include respond(tablet) {
    width: 768px;
    height: 144px;
    margin-top: -744px;
  }
  width: 320px;
  height: 190.01px;
  margin-top: -242px;

  .social-networks {
    @include respond(tablet) {
      width: 768px;
      height: 114px;
    }
    width: 320px;
    height: 160.01px;
    background-color: $color-primary;
    color: #fff;
    text-align: center;
    align-items: center;
    padding: 40px 50px;

    &-content {
      @include respond(tablet) {
        width: 343px;
        height: 34px;
        margin: auto;
      }
      width: 220px;
      height: 80.01px;

      &-title {
        font-family: "SKF Chevin OT";
        width: 109px;
        height: 34px;
        font-weight: 600;
        font-size: 20px;
        line-height: 34px;
      }

      &-icons {
        @include respond(tablet) {
          display: inline-block;
        }
        width: 220px;
        height: 32.01px;
        font-size: 32px;

        .fa-linkedin {
          background-color: $color-background-light;
          color: $color-primary;
        }

        &-icon {
          width: 32px;
          height: 32px;
        }
      }
    }
  }

  .copyright {
    @include respond(tablet) {
      width: 768px;
      height: 30px;
    }
    background: #0a398a;
    text-align: center;
    width: 320px;
    height: 30px;
    padding: 8px 10px;

    &-text {
      width: 189px;
      height: 14px;
      font-weight: 500;
      font-size: 12px;
      line-height: 120%;
      color: $font-color-light;
      text-align: center;
    }
  }
}

.learn-more-btn {
  @include respond(tablet) {
    margin-top: 30px;
    margin-bottom: 0;
  }
  width: 202px;
  background-color: $color-primary;
  color: $color-background-light;
  height: 52px;
  padding: 15px 50px;
  margin-top: 15px;
  margin-bottom: 30px;
  display: block;
  border: none;

  &-text {
    width: 81px;
    height: 22px;
    font-weight: 600;
    font-size: 16px;
    line-height: 140%;
  }

  &-arrow {
    width: 14px;
    height: 14px;
  }
}

.glyphicon-round {
  background-color: $color-primary;
  color: $color-background-light;

  border-radius: 50%;

  &:active {
    transform: translate(0, 1px);
  }
}
.menu-dropped {
  color: $color-primary !important;
  .glyphicon-menu-down {
    transform: rotate(180deg) translateY(-8px) translateX(-2px);
  }
}
.zero-height {
  height: 0;
  overflow: hidden;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* Set the size of the div element that contains the map */

.fa-truck {
  @include respond(tablet) {
    width: 58px;
    height: 40px;
    padding: 8px 14px;
    font-size: 24px;
  }
  width: 24.46px;
  height: 16.87px;
  margin: 0;
  color: $color-background-light;
  background-color: $color-primary;
  text-align: center;
}

.glyphicon-triangle-bottom {
  @include respond(tablet) {
    width: 22px;
    height: 11px;
    transform: translateY(-8px) translateX(18px);
  }
  transform: translateY(-6px) translateX(5px);
  color: $color-primary;
  width: 9.28px;
  height: 4.64px;
  padding: 3.37447px 5.90532px;
}

.margin-tablet {
  @include respond(tablet) {
    margin: 0 20px;
  }
}
